<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Casual</title>
    <link rel="shortcut icon" href="/static/public/favicon.ico" type="image/x-icon" />
    <script th:src="@{~/static/public/commonJs.js}"></script>
    <script th:src="@{~/static/public/commonCss.js}"></script>
    <script>
        $(document).ready(function () {
            var es = new EventSource('/one');
            es.onmessage = function(e) {
                var d = JSON.parse(e.data);
                $("#h1").text(d.name);
            };
        })
    </script>
</head>
<body>
    <h1 th:text="'Hello, ' + ${name}"></h1>
    <h1 id="h1"></h1>
</body>
</html>